// // Like this adding the class dark to the body will change the colors of all the underlying elements.
// // I'm not quite sure whether the variables at the top are global and I couldn't find information on that on the fly. Might need to look into that
// // Otherwise this seems fine and is what dbrgn has described in https://github.com/threema-ch/threema-web/pull/110
// // See here for the scope of the variables: https://stackoverflow.com/questions/12365703/scss-variable-scope#30009712

$wallpaper: "../img/wallpaper_light.png?"; // TODO: Use a darker wallpaper
// Define colors
$almost-black: rgb(27, 27, 27);
$threema-green: rgb(0, 150, 136);
$very-dark-gray: rgb(46, 46, 46);
$standard-gray: rgb(83, 83, 83);
// Status colors
$status-ok-color: #4caf50;
$status-warning-color: #ff9800;
$status-error-color: #f44336;
$status-error-disabled-color: #f44336a1;
$status-starred-color: #ffc107;
// Border colors
$border-grey: rgb(51, 51, 51) !default;
$border-dark-grey: rgb(77, 77, 77) !default;
$border-color: rgb(82, 82, 82);
// Background colors
// $background-grey-color: lighten($border-grey, 7%) !default;
$background-dark-color: $almost-black !default;
$background-light-color: $very-dark-gray !default;
$background-welcome-light-color: white !default;
// $background-light-color: white !default;
$background-very-light-color: $standard-gray !default;
$background-topheader-offset-color: #424242;
$conversation-header-color: $background-topheader-offset-color;
$conversation-background-color: $background-light-color;
$conversation-background-highlight-color: $background-dark-color;
// Material colors
$material-grey-color: rgba(0, 0, 0, 0.54) !default;
$material-grey-inactive-color: rgba(0, 0, 0, .26) !default;
$material-grey-dark-color: rgba(0, 0, 0, .87) !default;
$material-card-shadow-color: px 2px 5px px rgba(0, 0, 0, 0.16),
px 2px 5px px rgba(0, 0, 0, .23) !default;
// Text colors
$text-bright-background-color: rgb(206, 206, 206);
$text-bright-background-welcome-color: black;
$text-dark-background-color: rgb(165, 165, 165);
$text-dark-background-color-2: $text-dark-background-color;
$latest-message-text-color: $text-dark-background-color;
$text-protocol-updated-color: #9dd0f2;
$text-on-background-topheader-offset-color: white;
$text-in-unread-count-offset-color: white;
$text-placeholder-color: $latest-message-text-color;
$md-toolbar-color: $background-dark-color;
$md-toolbar-text-color: $text-dark-background-color;
$md-toolbar-button-color: rgb(65, 65, 65) !default;
// Icon colors
$icon-color: white;
$dark-icon-color: gray;
$icon-medium-dark-color: gray;
$bright-icon-color: gray;
// Message bubble colors
$message-quote-color: $threema-green;
$message-bubble-color-in: rgb(31, 25, 25) !default;
$message-bubble-color-out: rgb(27, 39, 52) !default;
// Misc colors
$url-light-blue-color: #63a6cf !default;
$active-placeholder-color: $text-dark-background-color !default;
$work-blue-color: #3b84df;
// Button colors
$button-color: $material-grey-color;
$button-color-enabled: rgb(117, 116, 116) !default;
$button-color-disabled: rgba(80, 80, 80, 0.65) !default;
$button-color-pressed: rgb(85, 84, 84);
$button-text-color: rgb(255, 255, 255);
$button-text-dark-color: rgb(255, 255, 255);
$button-text-light-color: rgb(0, 0, 0);

.color-status-ok {
    color: $status-ok-color;
}

.color-status-warning {
    color: $status-warning-color;
}

.color-status-error {
    color: $status-error-color;
}

.material-icons.md-medium-dark {
    color: $material-grey-color;
}

.material-icons.md-medium-dark.md-inactive {
    color: $material-grey-inactive-color;
}


// //-------------------------------
// //-------------------------------------------------
// //-------------------------------------------------
// //-------------------------------------------------
@import "../app";
// // }
// // @import "../components/emoji_picker";
