// // Like this adding the class dark to the body will change the colors of all the underlying elements.
// // I'm not quite sure whether the variables at the top are global and I couldn't find information on that on the fly. Might need to look into that
// // Otherwise this seems fine and is what dbrgn has described in https://github.com/threema-ch/threema-web/pull/110
// // See here for the scope of the variables: https://stackoverflow.com/questions/12365703/scss-variable-scope#30009712

$wallpaper: "../img/wallpaper_light.png?"; // TODO: Use a darker wallpaper
$threema-green: rgb(0, 150, 136);
// Status colors
$status-ok-color: #4caf50;
$status-warning-color: #ff9800;
$status-error-color: #f44336;
$status-starred-color: #ffc107;
// Border colors
$border-grey: rgb(99, 99, 99) !default;
$border-color: rgb(119, 119, 119);
// Background colors
// $background-grey-color: lighten($border-grey, 7%) !default;
$background-dark-color: rgb(27, 27, 27) !default;
$background-light-color: rgb(46, 46, 46) !default;
$background-welcome-light-color: white !default;
// $background-light-color: white !default;
$background-very-light-color: rgb(83, 83, 83) !default;
$background-topheader-offset-color: #424242;
$conversation-header-color: $background-dark-color;
// Material colors
$material-grey-color: rgba(0, 0, 0, 0.54) !default;
$material-grey-inactive-color: rgba(0, 0, 0, 0.26) !default;
$material-grey-dark-color: rgba(0, 0, 0, 0.87) !default;
$material-card-shadow-color: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
0px 2px 5px 0px rgba(0, 0, 0, 0.23) !default;
// Text colors
$text-bright-background-color: rgb(206, 206, 206);
$text-bright-background-welcome-color: black;
$text-dark-background-color: rgb(165, 165, 165);
$latest-message-text-color: $text-dark-background-color;
$text-protocol-updated-color: #9dd0f2;
$text-on-background-topheader-offset-color: white;
$text-in-unread-count-offset-color: white;
$text-placeholder-color: $latest-message-text-color;
// Icon colors
$icon-color: white;
$dark-icon-color: gray;
$icon-medium-dark-color: gray;
// Message bubble colors
$message-quote-color: $threema-green;
$message-bubble-color-in: rgb(31, 25, 25) !default;
$message-bubble-color-out: rgb(27, 39, 52) !default;
// Misc colors
$url-light-blue-color: #63a6cf !default;
$active-placeholder-color: lightgray !default;
$work-blue-color: #3b84df;
// Button colors
$button-color: $material-grey-color;
$button-color-enabled: rgb(65, 65, 65) !default;
$button-color-disabled: rgba(65, 65, 65, 0.65) !default;
$button-color-pressed: rgb(55, 55, 55);
$button-text-color: rgb(255, 255, 255);
.color-status-ok {
    color: $status-ok-color;
}

.color-status-warning {
    color: $status-warning-color;
}

.color-status-error {
    color: $status-error-color;
}

.material-icons.md-medium-dark {
    color: $material-grey-color;
}

.material-icons.md-medium-dark.md-inactive {
    color: $material-grey-inactive-color;
}




// //-------------------------------
// //-------------------------------------------------
// //-------------------------------------------------
// //-------------------------------------------------
@import "../app";
// // }
// // @import "../components/emoji_picker";
