// Webkit specific global styling
// sass-lint:disable no-vendor-prefixes
::-webkit-scrollbar {
    border: 1px solid $border-dark-grey-color;
    background-color: lighten($background-dark-color, 50%);
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: darken($background-dark-color, 25%);
}
// sass-lint:enable no-vendor-prefixes

// Mixin for browsers that support the "CSS Scrollbars Module Level 1" draft
@mixin scrollbar {
    // Note: Linter doesn't recognise 'scrollbar-*' properties, yet.
    // sass-lint:disable no-misspelled-properties
    scrollbar-width: thin;  // Unfortunately Firefox does not support exact pixel values
    scrollbar-color: $scrollbar-color-thumb lighten($background-dark-color, 25%);
    // sass-lint:enable no-misspelled-properties
}
