// TODO: Prefixes

::-webkit-scrollbar {
    width: 8px;
    background-color: $background-light-color;
    border: 1px solid $background-light-color;
}

::-webkit-scrollbar-thumb {
    background-color: $background-dark-color;
}
